<section>
  <div class="buttonsArea">
    <span *ngIf="meetingId" >RoomId: {{ meetingId }}</span>
    <button mat-button (click)="createRoom()" >Create room</button>
    <button mat-button (click)="showFormJoinRoom()" >Join room</button>

    <span *ngIf="showJoinForm" >
      <form  [formGroup]="form"  (ngSubmit)="joinRoom()">
        <mat-form-field class="input" appearance="outline">
          <input matInput placeholder="Room" formControlName="room">
        </mat-form-field>    
        <button mat-button color="primary">Join</button>
      </form>      
    </span>
  </div>
</section>
